p{
    margin: 0;

}

 .wrapper{
     display: flex;
     flex-wrap: wrap;
 }
 .block{
     width: calc(33% - 32px);
     margin: 15px;
     min-width: 320px;
     border: 1px solid #898989;
     padding: 15px 25px;
     border-radius: 5px;
 }
.img-product {
    width: 100%;
    margin-bottom: 6px;
}
 .title{
     font-size: 18px;
     font-weight: bold;
 }

.data{
    font-style: italic;
}

.description {
    margin-top: 12px;
    font-size: 12px;
}