p{
    margin: 0;

}

 .wrapper{
     display: flex;
     flex-wrap: wrap;
 }
 .product-layout{
     width: calc(25% - 32px);
     margin: 15px;
     min-width: 288px;
     border: 1px solid #898989;
     padding: 15px 25px;
     border-radius: 5px;
 }
 .product-thumb{
     display: flex;
     flex-direction: column;
 }
.img-product {
    height: 200px;

    margin: 0 auto 24px;
}
 .title{
     font-size: 18px;
     font-weight: bold;
 }

.data{
    font-style: italic;
}

.description {
    margin-top: 12px;
    font-size: 12px;
}